VITE_CHAIN_ID=1
VITE_JSON_RPC_URL=http://localhost:8545
VITE_NATIVE_SYMBOL=INIT
VITE_NATIVE_DENOM=uinit

VITE_AGENT_REGISTRY_ADDRESS=0x
VITE_VAULT_FACTORY_ADDRESS=0x
VITE_MOCK_POOL_A_ADDRESS=0x
VITE_MOCK_POOL_B_ADDRESS=0x
